body {
  background: gray;
}

h1 {
  font-size: 42px;
  font-family: Times;
  font-style: underline;
  color:blue;
}

h2 {
  color:red;
  font-size:22px;
}

h3 {

}

.parentdiv {
  border: 2px dashed black;
}

.babydiv {
  border:2px dotted red;
}

a {
  text-decoration: none;
}

